@import "../../style/var.scss";

.component {

}

.card{
  text-align: center;
  height: $unit*6;
  font-size: $unit*3;
  font-weight: bold;
  line-height: $unit*5;
  border: $border;
  border-radius: $radius;
  margin-bottom: $unit*2;
  //color: $bgColor;
  color: #eeeeee;
  transition: all $transition;
}

.card--active{
  color: $accent;
}

.card--accept{
  color: $acceptGreen;
  background: #ffdd00;
}

@media only screen and (min-width: $phone) and (max-width: $tablet){

}
@media only screen and (min-width: $tablet) and (max-width: $smallScreen){

}
@media only screen and (min-width: $smallScreen) and (max-width: $mediumScreen){

}